<main class="main" id="bg">
  <form>
    <label for="name">name</label>
    <input type="text" name="name" id="node_name" /><br />
    <input type="radio" id="circle" name="shape" value="circle" />
    <label for="circle">circle</label><br />
    <input type="radio" id="diamond" name="shape" value="diamond" />
    <label for="diamond">diamond</label><br />
    <input type="radio" id="square" name="shape" value="square" />
    <label for="square">square</label><br />
    <button (click)="add_node($event)">run</button>
  </form>
  <div #visualizationContainer id="main"></div>
</main>
